<table>
    <tr>
        <th>Column Name</th>
        <th>Label</th>
        <th>Type</th>
        <th>Value Labels</th>
    </tr>
    {% for col, details in entry.columns.items() %}
    <tr>
        <td>{{ col }}</td>
        <td>{{ details.label }}</td>
        <td>{{ details.type }}</td>
        <td>
            {% if details.value_labels %}
                <ul>
                {% for key, value in details.value_labels.items() %}
                    <li>{{ key }}: {{ value }}</li>
                {% endfor %}
                </ul>
            {% else %}
                {% if details.type == 'checkbox' %}
                    Multiple selections possible
                {% else %}
                    N/A
                {% endif %}
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>

<div class="combined-distribution cohort-content">
    <table>
        <tr>
            <th>Graph</th>
            <th>Summary Statistics</th>
        </tr>
        {% for col, dist in distributions_all.items() %}
        <tr>
            <td>
                {% if dist.graph %}
                    <div class="graph-container">
                        {{ dist.graph | safe }}
                    </div>
                {% else %}
                    N/A
                {% endif %}
            </td>
            <td>
                {% if dist.counts %}
                    <ul>
                    {% for key, value in dist.counts.items() %}
                        <li>{{ key }}: {{ value }}</li>
                    {% endfor %}
                    </ul>
                {% elif dist.description %}
                    <ul>
                        <li>Count: {{ dist.description.get('count', 'N/A') }}</li>
                        <li>Mean: {{ '{:.2f}'.format(dist.description.get('mean', 'N/A')) }}</li>
                        <li>Std: {{ '{:.2f}'.format(dist.description.get('std', 'N/A')) }}</li>
                        <li>Min: {{ '{:.2f}'.format(dist.description.get('min', 'N/A')) }}</li>
                        <li>25%: {{ '{:.2f}'.format(dist.description.get('25%', 'N/A')) }}</li>
                        <li>50%: {{ '{:.2f}'.format(dist.description.get('50%', 'N/A')) }}</li>
                        <li>75%: {{ '{:.2f}'.format(dist.description.get('75%', 'N/A')) }}</li>
                        <li>Max: {{ '{:.2f}'.format(dist.description.get('max', 'N/A')) }}</li>
                    </ul>
                {% else %}
                    N/A
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
</div>

<div class="by-cohort-distribution cohort-content">
    <table>
        <tr>
            {% for cohort in distributions.keys() %}
                <th>{{ cohort }}</th>
            {% endfor %}
        </tr>
        {% for col in entry.columns.keys() %}
        <tr>
            {% for cohort, distro in distributions.items() %}
                <td>
                    {% if distro[col].graph %}
                        <div class="graph-container">
                            {{ distro[col].graph | safe }}
                        </div>
                    {% else %}
                        N/A
                    {% endif %}
                    {% if distro[col].counts %}
                        <ul>
                        {% for key, value in distro[col].counts.items() %}
                            <li>{{ key }}: {{ value }}</li>
                        {% endfor %}
                        </ul>
                    {% elif distro[col].description %}
                        <ul>
                            <li>Count: {{ distro[col].description.get('count', 'N/A') }}</li>
                            <li>Mean: {{ '{:.2f}'.format(distro[col].description.get('mean', 'N/A')) }}</li>
                            <li>Std: {{ '{:.2f}'.format(distro[col].description.get('std', 'N/A')) }}</li>
                            <li>Min: {{ '{:.2f}'.format(distro[col].description.get('min', 'N/A')) }}</li>
                            <li>25%: {{ '{:.2f}'.format(distro[col].description.get('25%', 'N/A')) }}</li>
                            <li>50%: {{ '{:.2f}'.format(distro[col].description.get('50%', 'N/A')) }}</li>
                            <li>75%: {{ '{:.2f}'.format(distro[col].description.get('75%', 'N/A')) }}</li>
                            <li>Max: {{ '{:.2f}'.format(distro[col].description.get('max', 'N/A')) }}</li>
                        </ul>
                    {% endif %}
                </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</div>
